flask
Flask-Login
flask-wtf
bcrypt
cryptography
Flask-Bcrypt
flask-sqlalchemy
SQLAlchemy
werkzeug
bleach
certifi
charset-normalizer
contourpy
cycler
fonttools
idna
importlib-resources
joblib
kaggle
kaleido
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
plotly
pyparsing
python-dateutil
python-slugify
pytz
requests
scikit-learn
scipy
seaborn
six
tenacity
text-unidecode
threadpoolctl
tqdm
tzdata
urllib3
webencodings
zipp
