<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Error{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <style>
    body, html {
      height: 100%;
      margin: 0;
    }
    .bg {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .content-center {
      text-align: center;
      padding-top: 70px; 
    }
    .display-1 {
      font-size: 5.5rem;
    }
    @media (max-width: 576px) {
      .display-1{
        font-size: 2.5rem;
      }
    }
  </style>
</head>
<body>
  <div class="container mt-4">
    {% block content %}{% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
