{% extends "base_error.html" %}
{% block title %}401 Unauthorized{% endblock %}

{% block content %}
<div class="bg">
  <div class="content-center">
    <h1 class="display-1">401</h1>
    <h2 class="mb-4">Unauthorized</h2>
    <div class="image-container text-center mb-3">
      <img src="{{ url_for('static', filename='images/Error_401.webp') }}" alt="Unauthorized Image" class="img-fluid"
        style="max-width: 30%; height: auto;">
    </div>
    <p>You need to log in to access this page.</p>
    <a href="/login" class="btn btn-primary">Log In</a>
  </div>
</div>
{% endblock %}
