{% extends "base_error.html" %}
{% block title %}500 Internal Server Error{% endblock %}

{% block content %}
<div class="bg">
  <div class="content-center">
    <h1 class="display-1">500</h1>
    <h2 class="mb-4">Internal Server Error</h2>
    <img src="{{ url_for('static', filename='static/images/Error_500.webp') }}" alt="Internal Error Image" class="img-fluid mb-4">
    <p>Something went wrong on our end. Please try again later.</p>
    <a href="/" class="btn btn-primary">Return Home</a>
  </div>
</div>
{% endblock %}
