{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container home-page">
    <header class="mb-4">
        <div class="d-flex justify-content-between align-items-center">
        </div>
    </header>
    <main class="text-center mt-4">
        <h1 class="display-4">Smart Website</h1>
        <br>
        <div class="image-container text-center mb-4">
            <img src="{{ url_for('static', filename='images/smart.webp') }}" alt="Smart Research" class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
        <div class="text-left mt-5">
            <h2>How Our Smart Website Works?</h2>
            <p>Our advanced platform uses machine learning algorithms.</p>
            <p>Our model is designed to assist professionals and researchers.</p>
        </div>
    </main>
</div>
{% endblock %}
