{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container py-0">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
                <div class="row g-0">
                    <div class="col-lg-6">
                        <div class="card-body p-md-5 mx-md-4">
                            <div class="text-center">
                                <img src="{{ url_for('static', filename='images/Logo.webp') }}" style="width: 180px;"
                                    alt="logo">
                                <h4 class="mt-1 mb-5 pb-1">We are The Nexus Team</h4>
                            </div>
                            <div>
                                {% with messages = get_flashed_messages(with_categories=True) %}
                                {% if messages %}
                                <div class="container mt-1">
                                    <div class="row justify-content-center">
                                        <div class="col-md-12">
                                            {% for category, message in messages %}
                                            <div class="alert alert-{{ category }} text-center py-2" role="alert"
                                                style="padding: 0.5rem 1rem;">
                                                {{ message }}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endwith %}
                            </div>
                            <form method="POST">
                                <p>Please login to your account</p>
                                <div class="form-outline mb-4">
                                    <input type="text" id="username" name="username" class="form-control"
                                        placeholder="Username" required />
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" id="password" name="password" class="form-control"
                                        placeholder="Password" required />
                                </div>
                                <div class="text-center pt-1 mb-3 pb-1">
                                    <button type="submit"
                                        class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3">Log in</button>
                                </div>
                            </form>
                            <div class="d-flex align-items-center justify-content-center pb-3">
                                <p class="mb-0 me-2">Don't have an account?</p>
                                <a href="{{ url_for('register') }}" class="btn btn-outline-danger">Register here</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center gradient-custom-2 info-section">
                        <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                            <h4 class="mb-4">Innovative Minds, United</h4>
                            <p class="small mb-0">We are a passionate team, driven by the excitement of creating web
                                applications with Flask. Our goal is to learn, grow, and innovate together. Join us as
                                we push the boundaries of technology and teamwork.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}